body{
    padding:auto;
    width:auto;
    margin: 5vw;
}
.flex-container{
    
    height:100%;
    width:100%;
    padding:0;
    margin: 0%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
}
.row {
    background-color: rgba(218, 207, 207, 0.301);
    width: 40vw;
    height:60%;
    border: 3px solid rgb(0, 0, 0);
}
@media screen and (max-width:600px){
    .row{
        width:100vw;
        height: 100%;
    }
    button {
        width: 80vw;
        height: 20vh;
        color: black;
    }
}

.flex-item {
    padding: 1%;
    height: 100%;
    margin: 10%;
    text-align:center;
}
button{
    width: 20vw;
    height: 6vh;
    color: black;
}
button:visited{
    color:blue;
}
button:hover{
    opacity: 0.7;
}
#reserve{
    background-color: rgb(52, 231, 52);

    
}
#cancel{
    background-color: rgb(221, 30, 30);

}